In [1]:
import tensorflow as tf

In [4]:
a=tf.constant([1,2,3])
b=tf.constant([2,3,4])

c=a*b

with tf.Session() as sess:
    c_1=sess.run(c)
    print(c_1)

[ 2  6 12]

In [5]:
import numpy as np
import pandas as pd

my_array = np.array([[11,22,33],[44,55,66]])

df = pd.DataFrame(my_array, columns = ['Column_A','Column_B','Column_C'])

In [6]:
df

   Column_A  Column_B  Column_C
0        11        22        33
1        44        55        66

In [7]:
df.loc[:,'Column_A']=[1,2]

In [8]:
df

   Column_A  Column_B  Column_C
0         1        22        33
1         2        55        66

In [9]:
df.iloc[:,2]=[3,4]

In [10]:
df

   Column_A  Column_B  Column_C
0         1        22         3
1         2        55         4

In [11]:
df.loc[:,'Column_D']=[1,2]

In [12]:
df

   Column_A  Column_B  Column_C  Column_D
0         1        22         3         1
1         2        55         4         2

In [13]:
array = [2, 4, 6, 8, 10, 12]

In [14]:
series_obj = pd.Series(array)

In [15]:
arr = series_obj.values 
arr2 = arr.reshape([3,2])

In [16]:
arr2

array([[ 2,  4],
       [ 6,  8],
       [10, 12]])

In [17]:
type(arr2)

numpy.ndarray

In [19]:
arr3=pd.DataFrame(arr2)

In [20]:
type(arr3)

pandas.core.frame.DataFrame

In [21]:
arr3.shape

(3, 2)

In [22]:
arr3.dtypes

0    int64
1    int64
dtype: object

In [25]:
a=df['Column_C'].astype(str)

In [26]:
a

0    3
1    4
Name: Column_C, dtype: object

In [27]:
df

   Column_A  Column_B  Column_C  Column_D
0         1        22         3         1
1         2        55         4         2

In [28]:
df.dtypes

Column_A    int64
Column_B    int64
Column_C    int64
Column_D    int64
dtype: object

In [30]:
aa=pd.read_csv('../test_sample')

In [31]:
aa

,id,hour,C1,banner_pos,site_id,site_domain,site_category,app_id,app_domain,app_category,...,device_type,device_conn_type,C14,C15,C16,C17,C18,C19,C20,C21
0,10000174058809263569,14103100,1005,0,235ba823,f6ebf28e,f028772b,ecad2386,7801e8d9,07d7df22,...,1,0,8330,320,50,761,3,175,100075,23
1,10000182526920855428,14103100,1005,0,1fbe01fe,f3845767,28905ebd,ecad2386,7801e8d9,07d7df22,...,1,0,22676,320,50,2616,0,35,100083,51
2,10000554139829213984,14103100,1005,0,1fbe01fe,f3845767,28905ebd,ecad2386,7801e8d9,07d7df22,...,1,0,22676,320,50,2616,0,35,100083,51
3,10001094637809798845,14103100,1005,0,85f751fd,c4e18dd6,50e219e0,51cedd4e,aefc06bd,0f2161f8,...,1,0,18648,320,50,1092,3,809,100156,61
4,10001377041558670745,14103100,1005,0,85f751fd,c4e18dd6,50e219e0,9c13b419,2347f47a,f95efa07,...,1,0,23160,320,50,2667,0,47,-1,221
5,10001521204153353724,14103100,1005,1,57fe1b20,5b626596,f028772b,ecad2386,7801e8d9,07d7df22,...,1,0,6563,320,50,572,2,39,-1,32
6,10001911056707023378,14103100,1005,0,1fbe01fe,f3845767,28905ebd,ecad2386,7801e8d9,07d7df22,...,1,0,22813,320,50,2647,2,39,100148,23
7,10001982898844213216,14103100,1005,0,85f751fd,c4e18dd6,50e219e0,388d9bfb,2347f47a,cef3e649,...,1,3,23214,300,250,2675,3,939,100058,100
8,10002000217531288531,14103100,1005,0,543a539e,c7ca3108,3e814130,ecad2386,7801e8d9,07d7df22,...,1,0,23642,320,50,2709,3,39,-1,23

In [32]:
aa.to_csv('ssss')

In [33]:
!head ssss

,id,hour,C1,banner_pos,site_id,site_domain,site_category,app_id,app_domain,app_category,device_id,device_ip,device_model,device_type,device_conn_type,C14,C15,C16,C17,C18,C19,C20,C21
0,10000174058809263569,14103100,1005,0,235ba823,f6ebf28e,f028772b,ecad2386,7801e8d9,07d7df22,a99f214a,69f45779,0eb711ec,1,0,8330,320,50,761,3,175,100075,23
1,10000182526920855428,14103100,1005,0,1fbe01fe,f3845767,28905ebd,ecad2386,7801e8d9,07d7df22,a99f214a,e8d44657,ecb851b2,1,0,22676,320,50,2616,0,35,100083,51
2,10000554139829213984,14103100,1005,0,1fbe01fe,f3845767,28905ebd,ecad2386,7801e8d9,07d7df22,a99f214a,10fb085b,1f0bc64f,1,0,22676,320,50,2616,0,35,100083,51
3,10001094637809798845,14103100,1005,0,85f751fd,c4e18dd6,50e219e0,51cedd4e,aefc06bd,0f2161f8,a99f214a,422d257a,542422a7,1,0,18648,320,50,1092,3,809,100156,61
4,10001377041558670745,14103100,1005,0,85f751fd,c4e18dd6,50e219e0,9c13b419,2347f47a,f95efa07,a99f214a,078c6b38,1f0bc64f,1,0,23160,320,50,2667,0,47,-1,221
5,10001521204153353724,14103100,1005,1,57fe1b20,5b626596,f028772b,ecad2386,7801e8d9,07d7df22,a99f214a,e75922ff,68b6db2c,1,0,6563,320,50,572,2,39,-1,32
6,10001911056707023378,14103100,1005,0,1fbe01fe,f3845767,28905ebd,ecad2386,7801e8d9,07d7df22,a99f214a,f1e8683d,d4897fef,1,0,22813,320,50,2647,2,39,100148,23
7,10001982898844213216,14103100,1005,0,85f751fd,c4e18dd6,50e219e0,388d9bfb,2347f47a,cef3e649,3772665a,a4a540c1,a2140f4f,1,3,23214,300,250,2675,3,939,100058,100
8,10002000217531288531,14103100,1005,0,543a539e,c7ca3108,3e814130,ecad2386,7801e8d9,07d7df22,a99f214a,dc17d849,ac9ad752,1,0,23642,320,50,2709,3,39,-1,23

In [34]:
aa

,id,hour,C1,banner_pos,site_id,site_domain,site_category,app_id,app_domain,app_category,...,device_type,device_conn_type,C14,C15,C16,C17,C18,C19,C20,C21
0,10000174058809263569,14103100,1005,0,235ba823,f6ebf28e,f028772b,ecad2386,7801e8d9,07d7df22,...,1,0,8330,320,50,761,3,175,100075,23
1,10000182526920855428,14103100,1005,0,1fbe01fe,f3845767,28905ebd,ecad2386,7801e8d9,07d7df22,...,1,0,22676,320,50,2616,0,35,100083,51
2,10000554139829213984,14103100,1005,0,1fbe01fe,f3845767,28905ebd,ecad2386,7801e8d9,07d7df22,...,1,0,22676,320,50,2616,0,35,100083,51
3,10001094637809798845,14103100,1005,0,85f751fd,c4e18dd6,50e219e0,51cedd4e,aefc06bd,0f2161f8,...,1,0,18648,320,50,1092,3,809,100156,61
4,10001377041558670745,14103100,1005,0,85f751fd,c4e18dd6,50e219e0,9c13b419,2347f47a,f95efa07,...,1,0,23160,320,50,2667,0,47,-1,221
5,10001521204153353724,14103100,1005,1,57fe1b20,5b626596,f028772b,ecad2386,7801e8d9,07d7df22,...,1,0,6563,320,50,572,2,39,-1,32
6,10001911056707023378,14103100,1005,0,1fbe01fe,f3845767,28905ebd,ecad2386,7801e8d9,07d7df22,...,1,0,22813,320,50,2647,2,39,100148,23
7,10001982898844213216,14103100,1005,0,85f751fd,c4e18dd6,50e219e0,388d9bfb,2347f47a,cef3e649,...,1,3,23214,300,250,2675,3,939,100058,100
8,10002000217531288531,14103100,1005,0,543a539e,c7ca3108,3e814130,ecad2386,7801e8d9,07d7df22,...,1,0,23642,320,50,2709,3,39,-1,23

In [35]:
aa['id'].head

<bound method Series.head of 0    10000174058809263569
1    10000182526920855428
2    10000554139829213984
3    10001094637809798845
4    10001377041558670745
5    10001521204153353724
6    10001911056707023378
7    10001982898844213216
8    10002000217531288531
Name: id, dtype: uint64>